<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xqf.test.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.xqf.test.entity.User">
        <id column="ID" jdbcType="INTEGER" property="id" />
        <result column="ORDER_CODE" jdbcType="VARCHAR" property="username" />
    </resultMap>

    <resultMap id="ResultList" type="com.xqf.test.Request.UserRequest">
        <result column="ID" jdbcType="INTEGER" property="id" />
        <result column="ORDER_CODE" jdbcType="VARCHAR" property="username" />
        <collection property="list" ofType="com.xqf.test.entity.Thing">
            <id property="id" column="DETAIL_ID"/>
            <result column="ORDER_ID" jdbcType="VARCHAR" property="name" />
        </collection>
    </resultMap>

    <resultMap id="OaProduct" type="com.xqf.test.entity.OaProduct">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="code" jdbcType="VARCHAR" property="code"/>
        <result column="point" jdbcType="INTEGER" property="point"/>
        <result column="market_price" jdbcType="DOUBLE" property="marketPrice"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="image" jdbcType="VARCHAR" property="image"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="status" jdbcType="BOOLEAN" property="status"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
    </resultMap>

    <select id="getUser" resultMap="BaseResultMap">

    </select>

    <select id="getThing" resultType="com.xqf.test.entity.Thing">

    </select>

    <select id="test" resultMap="OaProduct" resultType="string">
        select * from oa_product a where 1=1
        <if test="name != null">
            and a.name like concat('%', #{name}, '%')
        </if>

    </select>

</mapper>
